body{
  background-color: #ffffff;
  margin: 0;
}
.title {
	color: #5C6AC4;
}

.header {
  display: flex;
  background-color: rgb(7, 105, 20);
  margin: -10px;
  padding: 0px;
  justify-content: space-evenly;
}

.header div {
  background-color: rgb(7, 105, 20);
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}


.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(72, 129, 243);
  padding: 10px;
  margin: 10px;
  /*width: 100vw; */
}
.container div {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

 .button {
  font-size: 30px;
  background-color: rgb(145, 207, 153);
  width: 125px;
  height: 50px;
  /* padding: 3px 30px; */
  border: none;
  border-radius: 15px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-self: flex-end;
} 

.button:hover{
  background-color: rgb(74, 140, 83);
  cursor: pointer;
  cursor: url("mouse_cursor.png"), auto;
}


/* This is for the navbar on About */
ul {
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    color: black;
    background-color: rgb(137, 189, 132);
    overflow: hidden;
    display: flex;
    text-decoration: none;
    }
    ul li a{
      text-decoration: none;
      color: black;
      padding: 10px;
      display: block;
      float: left;
    }
    ul li a:hover{
      color: rgb(255, 255, 255);
      background-color: rgb(31, 81, 39);
    }
    ul li a.active {
      background-color: purple;
    }

@media screen and (max-width: 480px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  .button {
    font-size: 20px;
    background-color: rgb(145, 207, 153);
    width: 75px;
    height: 30px;
    /* padding: 3px 30px; */
    border: none;
    border-radius: 10px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

}
