body{
  background-color: #ffffff;
}
.title {
	color: #5C6AC4;
}
@media screen and (max-width: 480px) {
  body {
    background-color: rgb(255, 255, 255);
  }
}

.header {
  display: flex;
  background-color: rgb(7, 105, 20);
  margin: -10px;
  padding: 0px;
}

.header div {
  background-color: rgb(7, 105, 20);
  margin: 5px;
  padding: 5px;
  font-size: 20px;
}


.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(72, 129, 243);
  padding: 10px;
  margin: 10px;
  /*width: 100vw; */
}
.container div {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

.button {
  font-size: 30px;
  background-color: rgb(145, 207, 153);
  width: 125px;
  height: 50px;
  /* padding: 3px 30px; */
  border: none;
  border-radius: 15px;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: Calibri, system-ui;
}

.button:hover{
  background-color: rgb(74, 140, 83);
  cursor: url("https://images.editor.website/uploads/b/ae7fb200-c5c1-11e9-a44b-3988929b030a/Allderdice%20Dragon.jpg?width=400"), auto;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('https://i.pinimg.com/originals/bc/23/b9/bc23b955d467d91ccbcb21ba44dabf17.gif');
  background-size: cover;
  background-position: center;

  /* 0.02s equals a 50Hz refresh rate */
  /* animation: hueCycle 0.5s linear infinite; */
}

@keyframes hueCycle {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
body.hue-paused::before {
  animation-play-state: paused;
}
